@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgba(3, 3, 48, 0.3), rgba(3, 3, 48, 0.2)), url(Images/hero-icon-bg.svg), no-repeat center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Profile Card */
.profile-card {
    background: rgba(255, 255, 255, 0.9);
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 4px 4px 10px 5px;
    margin-bottom: 5rem;
    pointer-events: none;
}

.profile-card img {
    width: 200px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    text-align: left;
    box-shadow: 2px 2px 8px 4px;
}

.profile-card h1 {
    width: 100%;
    padding: 5px 0 0;
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.profile-card .track {
    width: 100%;
    text-align: left;
    border-bottom: 2px solid #000;
    padding-bottom: 15px;
    margin-bottom: 1.5rem;
}

.profile-card .track p {
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.profile-card .datetime {
    width: 100%;
}

/* Date and Time */
.datetime .date {
    font-size: 1.6rem;
    letter-spacing: 2px;
    font-weight: 600;
}

.datetime .time {
    font-size: 1.6rem;
}

.datetime .time span:not(:last-child) {
    position: relative;
    font-weight: 600;
}

/* Footer */
footer {
    margin: 5rem auto 0;
    color: #000;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    color: rgba(0, 0, 0, 0.7);
}